body {
    background-color: #E4D4D4;
}

a {
    text-decoration: none;
    color: black;
}

.header {
    border: solid;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D12A2A;
    width: 100%;
    height: 100px;
    left: 0px;
    top: 161px;
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.name {
    font-family: 'Vast Shadow', cursive;
    font-size: 34px;
    align-items: center;
    color: black;
    text-decoration: none;
}

.navbar {
    display: none;
}

.headline {
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
}

.myName {
    text-align: center;
    line-height: 2em;
    font-family: 'Special Elite', cursive;
}

.rightArrow {
    text-align: center;
}

.leftArrow {
    text-align: center;
}

.arrowRight {
    height: 100px;
    width: 245px;
    justify-content: center;
    text-align: center;
}

.arrowLeft {
    height: 100px;
    width: 245px;
    align-items: center;
}

.projectDiv {
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    padding: 10px;
}

.project {
    align-content: center;
}

.screenshotSection {
    display: flex;
    justify-content: center;
    align-content: center;
}

.projects {
    font-family: 'Vast Shadow', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.quizScreen {
    display: flex;
    padding-bottom: 30px;
    align-content: center;
    justify-content: center;
    background: #E4D4D4;
    border-color: #E4D4D4;
}

.quizApp {
    height: 200px;
    width: 200px;
    background: #C4C4C4;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 70px;
    padding-bottom: 10px;
}

.contact {
    font-family: 'Vast Shadow', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 15px;
}

.contactInfo {
    text-align: center;
    padding: 10px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    margin-bottom: 30px;
    list-style: none;
}

.contactlist {
    font-family: 'Special Elite', cursive;
    color: #0C120C;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
}

.aboutMe {
    font-family: 'Vast Shadow', cursive;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    padding-top: 30px;
}

.bio {
    text-align: left;
    line-height: 2em;
    font-family: 'Special Elite', cursive;
    padding: 10px;
    font-size: 14px;
    background: #C4C4C4;
    border: 1px solid #000000;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    margin-bottom: 30px;
}

.virginia {
    font-weight: bold;
    font: size 28;
    color: #D12A2A;
}

.bottom {
    height: 80px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: #D12A2A;
    border-radius: 20px;
    border: solid;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.link {
    display: flex;
}

.button1 {
    align-content: center;
    background: #D12A2A;
    border-color: #D12A2A;
}

.button1:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.button2 {
    align-content: center;
    background: #D12A2A;
    border-color: #D12A2A;
}

.button2:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.button3 {
    align-content: center;
    background: #D12A2A;
    border-color: #D12A2A;
}

.button3:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.linkedin {
    height: 45px;
    width: 45px;
}

.email {
    height: 45px;
    width: 45px;
}

.github {
    height: 45px;
    width: 45px;
}

.copyright {
    font-family: 'Special Elite', cursive;
    font-weight: normal;
    text-align: center;
    font-size: 12px;
    color: #000000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
}

.copyright2 {
    display: none;
}

.modaltitle {
    display: flex;
    align-items: center;
}

.screenshotmodal {
    max-width: 80%;
    max-height: 80%;
    margin-left: 5%;
    margin-right: 5%;
    border: solid;
}

.modaltech {
    height: 25px;
    width: 25px;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.modal-content {
    background-color: #D12A2A;
    font-size: 16px;
    width: 75%;
    height: 75%;
    padding: 5px;
    margin: 20% auto;
    border-radius: 5px;
    position: relative;
    overflow: auto;
}

.modaltitle {
    font-family: 'Vast Shadow', cursive;
    font-size: 22px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.modalLinks {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}

.modalLink {
    font-family: 'Special Elite', cursive;
}

.description {
    font-family: 'Vast Shadow', cursive;
}

.quizDesciption {
    font-family: 'Special Elite', cursive;
    line-height: 2em;
}

.quizTechnologies {
    font-family: 'Vast Shadow', cursive;
}

.close {
    position: absolute;
    top: 0;
    right: 14px;
    font-size: 42px;
    transform: rotate(45deg);
    cursor: pointer;
}

@media screen and (min-width:480px) and (min-width:900px) {
    a {
        text-decoration: none;
        color: black;
    }
    .name {
        display: flex;
        margin-left: 20px;
    }
    .navbar {
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
    }
    .menu {
        display: flex;
        list-style-type: none;
        justify-content: space-evenly;
    }
    .navButtons {
        font-family: 'Vast Shadow', cursive;
        border: solid;
        border-radius: 10px;
        background-color: #C4C4C4;
        color: black;
        width: 100px;
        text-align: center;
        margin-left: 10px;
    }
    .projectDiv {
        background: #C4C4C4;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
        border-radius: 20px;
        padding: 10px;
    }
    .quizScreen {
        height: 350px;
        width: 350px;
    }
    .aboutMe {
        font-family: 'Vast Shadow', cursive;
        font-style: normal;
        font-weight: normal;
        font-size: 24px;
        line-height: 28px;
        text-align: center;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
        padding-top: 30px;
    }
    .quizApp {
        height: 350px;
        width: 350px;
    }
    .quizScreen:hover {
        cursor: pointer;
    }
    main {
        padding-left: 300px;
        padding-right: 300px;
    }
    .bottom {
        width: 100%;
    }
    .button1,
    .button2,
    .button3 {
        display: none;
    }
    .copyright {
        display: none;
    }
    .copyright2 {
        font-family: 'Special Elite', cursive;
        font-size: 18px;
        display: flex;
        justify-content: center;
        color: #000000;
        text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
    }
    .bio {
        text-align: left;
        line-height: 2em;
        font-family: 'Special Elite', cursive;
        padding: 5px;
        font-size: 14px;
        background: #C4C4C4;
        border: 1px solid #000000;
        box-sizing: border-box;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.9);
        border-radius: 20px;
        margin-bottom: 30px;
    }
    .modaltitle {
        display: flex;
        font-size: 32px;
        justify-content: center;
        align-content: center;
    }
    .modal-content {
        background-color: #D12A2A;
        font-size: 16px;
        width: 75%;
        height: 75%;
        padding: 10px;
        border-radius: 5px;
        position: relative;
        overflow: auto;
    }
    .screenshotSection {
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .screenshotmodal {
        display: flex;
        justify-content: center;
        align-content: center;
        max-width: 65%;
        max-height: 65%;
        margin-left: 5%;
        margin-right: 5%;
        border: solid;
    }
    .quizDesciption {
        width: 75%;
        display: flex;
        justify-content: center;
        align-content: center;
    }
    .modalLinks {
        display: flex;
        line-height: 1.5em;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .modalLink:hover {
        color: #FED766
    }
    .link {
        display: none;
    }

}
